---
layout: base.njk
title: Galerie
---

<div x-data="{open: false}">
    <button @click="open = !open">
        Affiche/Cache dialogue
    </button>
    <dialog :open="open">
        Contenu dialogue
    </dialog>
</div>