---
layout: base.njk
title: Welcome
---
<h1 class="text-gris">Titre site</h1>
{%- from "macros.njk" import component -%}

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour Monde" }) }}
    </div>
</div>