---
layout: base.njk
title: Welcome
---
<h1 class="text-bleu text-body print-raw">Titre site</h1>
{%- from "macros.njk" import component -%}
<div x-data="{imageUrl:null}">
    <ul>
        <li><img src="/static/images/thumbnails/animals-1.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-1.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-2.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-2.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-3.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-3.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-4.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-4.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-5.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-5.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-6.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-6.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-7.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-7.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-8.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-8.jpeg';"></li>
        <li><img src="/static/images/thumbnails/animals-9.jpeg" alt="un animal"
                 @click="imageUrl = '/static/images/animals-9.jpeg';"></li>
    </ul>
    <div x-show="!!imageUrl" @click.away="imageUrl=null">
        <img :src="imageUrl" alt="">
    </div>
</div>
<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour Monde" }) }}
    </div>
</div>